<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="estilo.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/90ba01a70c.js" crossorigin="anonymous"></script>
    <title>Layout</title>
</head>
<body class="pantalla-principal">
    <aside>
        
        <header>Zafary</header>
            
    </aside>
        
    <section class="contenido-secundario">
        <div class="caja-verde">

            <button id="home"><i class="fas fa-home"></i>Home</button>
            <button id="Whatsaap"><i class="fab fa-whatsapp"></i>Whatsaap</button>
            <button id="spotify"><i class="fab fa-spotify"></i>spotifyy</button>
        </div>
        <main class="contenido-blue">
            <h1>Zafary</h1>
            <h2 id="titulo-pagina"></h2>
            <iframe src="../Home/index.html" class="contenido-dinamico" frameborder="0"></iframe>

           
        </main>
        
    <script src="./index.js"></script>
</body>

</html>>